ul {
    list-style-type: none;
    display: inline;
}

ul li {
    display: inline-block;
    padding-right: .5rem;
}

.article {
    padding: 1rem;
}

.article:not(:last-child) {
    padding-bottom: 2rem;
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
}