{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(article) %}
{{ translations.entry_hreflang(article) }}
{% endif %}

{% if article.description %}
<meta name="description" content="{{article.description}}" />
{% endif %}

{% for tag in article.tags %}
<meta name="tags" content="{{tag}}" />
{% endfor %}

{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/article.css" type="text/css" />
<div id="article-content">
    <header>
        <a id="backlink" href="{{ SITEURL }}/pages/blog.html">Back</span></a>
        <h1 class="entry-title">
            {{article.title }}
        </h1>
        <time class="published" datetime="{{ article.date.isoformat() }}">
            {{ article.locale_date }}
        </time>
        {% import 'translations.html' as translations with context %}
        {{ translations.translations_for(article) }}
        {% if article.header %}
        <div id="image-container">
            <img src="{{article.header}}" id="header-image" />
        </div>
        {% endif %}
    </header>
    <article>
        {{ article.content }}
    </article>
</div>
{% endblock %}