<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
</head>

<body>
    {% include 'navbar.html' %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
<footer>
    &copy; <span id="year"></span>
    Thomas Beukema
</footer>

<script>
    document.getElementById('year').innerHTML = new Date().getFullYear().toString();
</script>

</html>