{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
{{ super() }}

{% import 'translations.html' as translations with context %}
{% if translations.entry_hreflang(page) %}
{{ translations.entry_hreflang(page) }}
{% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/page.css" type="text/css" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog.css" type="text/css" />
<div class="left">
    <h1 id="title">{{ page.title }}</h1>
</div>
<div class="right">
    {% for article in articles %}
    <div class="article">
        <a href="{{SITEURL}}/{{article.url}}">
            <div>
                <h1>{{article.title}}</h1>
                <span>{{article.locale_date}}</span>
                <br>
                <span>Category: {{article.category}}</span>
                <p>{{article.summary}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(page) }}
{% endblock %}