<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">

<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/main.css" type="text/css" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/home.css" type="text/css" />
    {% endblock head %}
</head>

<body>
    {% include 'navbar.html' %}
    <div id="container">
        <div class="left">
            <div id="info">
                <div id="name">
                    <span id="first-name">Thomas</span>
                    <br>
                    <span id="last-name">Beukema</span>
                </div>
                <div id="titles">
                    <ul>
                        <li>Information Science @ Utrecht University</li>
                        <li>Cloud Engineer @ VodafoneZiggo</li>
                        <li>Entrepreneur @ Terrasboot</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right">
            <div>
                <div id="portrait">
                    <img src="{{ SITEURL }}/images/thomas.png" alt="" srcset="">
                </div>

            </div>
        </div>
    </div>
</body>

</html>